Derived_Data/*.csv
Derived_Graphics/*.png
Derived_Graphics/*.gif
.local/*
.rstudio/*
Rplots.pdf*
.config/*
.gitconfig/*
.bash_history
.Rproj.user
.Rhistory
.RData
.Ruserdata
Scratch_Work.Rmd
Scratch_Work_Anime.Rmd